.navbar {
    margin-bottom: 0;
    border-width: 0;
<<<<<<< Updated upstream
=======
    z-index: 100;
>>>>>>> Stashed changes
}

.navbar-custom1 {
    background-color: #666666;
    height: 60px;
    text-align: center;
}

.navbar-custom2 {
    padding-top: 5px;
    font-size: 1.2em;
<<<<<<< Updated upstream
=======
}

.navbar-brand {
    display: flex;
    padding: 0;
}

.nav-item img {
    height: 55px;
>>>>>>> Stashed changes
}