body {
    background-color: #534E4E;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

#header {
    margin-top: 60px;

    font-size: min(4vw, 50px);
    font-weight: 700;
    text-align: center;

    color: #EFBED9;
}

.form_position {
    text-align: center;
}

.search_form {
    display: inline-flex;
    align-items: center;
    position: relative;

    margin-top: 7vw;
}

.search_form input[type='text'] {
    padding: 0 20px;

    width: 47vw;
    height: 4vw;
    max-width: 722px;
    max-height: 53px;

    font-size: 1.3em;
    color: black;

    background: rgba(255, 255, 255, 0.91);
    box-shadow: 0px 8px 30px -1px rgba(166, 160, 163, 0.76);

    border: 0;
    border-radius: 58px;
}

.search_form input[type='image'] {
    position: absolute;
    width: 6%;
    right: 10px;
}

.bg-2 {
    margin-top: 1.5vw;
}

.vis {
    margin: 0 30px 65px;
}

.vis-warp {
    display: flex;
    justify-content: space-between;

    margin-bottom: 3vw;
}

.vis-container p {
    margin: 0.5vw;
    color: white;
    font-size: 1.4vw;
    font-weight: bold;
    text-align: left;
}

.vis-container img {
    max-width: 24vw;
}

tag button {
    background-color: white;
    border: transparent;
    border-radius: 500px;

    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.8vw;

    padding: 0.2vw 0.5vw;
    margin-left: 0.4vw
}